<!DOCTYPE html>
<html>
<head>
  <title>TaskMaster</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <header>
    <h1>TaskMaster</h1>
    <nav>
      <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Dashboard</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form class="login" action="/login" id="loginForm" method="POST">
        <input type="username" name="username" placeholder="Enter your username" required>
        <input type="password" name="password" placeholder='Enter your password'required>
        <button type="submit" name="login" id='login'>Login</button>
      </form>
    
    </main>

  <script></script>
</body>
</html>
