<nav>
  <button type="button" name="home" id="home">Dashboard</button>
  <button type="button" name="tasks" id="tasks">Tasks</button>
  <button type="button" name="logout" id="logout">Log Out</button>
</nav>
